﻿@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <link rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</head>

<body ng-controller="StoreController as store">
    <!--  Store Header  -->
    <header>
        <h1 class="text-center">Flatlander Crafted Gems</h1>
        <h2 class="text-center">– an Angular store –</h2>
    </header>

    <!--  Products Container  -->
    <div class="list-group">
        <!--  Product Container  -->
        <div class="list-group-item" ng-repeat="product in store.products">
            <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>
            
            <!-- Image Gallery  -->

            <product-gallery></product-gallery>
            
            <product-description></product-description>

            <product-reviews></product-reviews>

            <!-- Product Tabs  -->
            <product-tabs></product-tabs>

        </div>
    </div>
</body>
</html>
